<!DOCTYPE html>
<html>
<head>
<frg html.head>
</head>
<body>
<div id="wrapper">
<frg page.header>
<div id="page_container">
<tpl page.content>
</div>
<frg fragment.news>
<frg page.footer>
</div>

<frg footer.scripts>
</body>
</html>
