/**
 * Author: Dimitry Shirokovskiy, 2013
 * Email: info@phpwebstudio.com
**/
@font-face {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url(../fonts/Ubuntu300light.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../fonts/Ubuntu400.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(../fonts/Ubuntu500medium.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../fonts/Ubuntu700B.woff) format('woff');
}
@font-face {
    font-family: "Neucha";
    src: url("../../ext/fonts/Neucha.eot") /* EOT file for IE */
}
@font-face {
    font-family: "Neucha";
    src: url("../../ext/fonts/Neucha.ttf") /* TTF file for CSS3 browsers */
}

/*@font-face {
    font-family: "Play-Regular";
    src: url("../../ext/fonts/Play-Regular.eot") *//* EOT file for IE *//*
}
@font-face {
    font-family: "Play-Regular";
    src: url("../../ext/fonts/Play-Regular.ttf") *//* TTF file for CSS3 browsers *//*
}*/

html, body, ul {padding: 0; margin: 0; font-family: 'Tahoma', 'Verdana'; font-size: 16px}
img {border: 0}
a {color: #0077a0}
ul {list-style: none}
ul.inline>li {float: left; display: inline-block}
h1.title,
h2.title,
h3.title {color: #fe0003}
h4.title {}
h4.title span {color: #FE0003}
h4.title a {color: #000000}
h3.centered {text-align: center}
h3.centered span {text-transform: uppercase; color: #FE0003}

.fl {float: left}
.fr {float: right}
.block {padding: 10px 0; margin: 0}
input, textarea, option {font-size: 14px}
input[type=radio] {border: 0 !important; box-shadow: none !important; height: auto !important; font-size: 8px !important; position: relative; top: 2px}

#wrapper {width: 1000px; margin: 0 auto}
#header {height: 194px; position: relative}
#content_box {}
#footer {background-color: #e8e8ea; min-height: 220px; padding-bottom: 10px}
#page_container {position: relative}

#login_box {position: absolute; top: 10px; right: 0}
#top_region_link {position: relative; top: 10px; left: 33px}
#logo_box {position: relative; top: 40px; background: url("/storage/siteimg/header_bg.png") 0 0 no-repeat; height: 134px}
#logo_box #logo {position: relative; top: 30px; left: 30px; display: block; width: 380px}
#logo_box #phone_box {position: absolute; top: 36px; right: 0; width: 317px; background: url("/storage/siteimg/head_phone_bg.png") 0 0 no-repeat; height: 60px}
#logo_box #phone_box span {color: #FFFFFF}
#logo_box #phone_box span.big {font-size: 35px; line-height: 1.5; margin-left: 5px}
#logo_box #phone_box span.small {font-size: 15px; margin-left: 40px}

#search_box {min-height: 300px; padding-bottom: 10px}
#search_box .inline li {width: 44%; padding: 10px 0 0 50px}
#search_box h1 {color: #fe0003; font-size: 1.5em; text-shadow: 1px 1px 2px #a4a4a4}
#search_box .search_block .label {margin-bottom: 2px; color: #828282}
#search_box .search_block .label span {text-decoration: underline}
#search_box .search_block .field {background: url(/storage/siteimg/field_bg.png) 0 0 no-repeat; width: 317px; height: 41px; padding: 0 10px; border: 0}

#navigation {background: url("/storage/siteimg/nav_bg.png") 0 0 no-repeat; height: 46px; position: relative}
#navigation div.fl {margin-left: 10px}
#navigation div.fr {margin-right: 10px}
#navigation ul {}
#navigation ul li {margin: 0 10px; height: 40px}
#navigation ul li > a {display: block; line-height: 2.3; color: #FFFFFF}

#second_navigation {background: url("/storage/siteimg/nav2_bg.png") 0 0 no-repeat; height: 87px; position: relative}
#second_navigation ul {position: relative; top: 20px;}
#second_navigation ul li {margin: 0; text-align: center; width: 49%;}
#second_navigation ul li > a {color: #FFFFFF; font-size: 20px; font-family: 'Ubuntu Medium'; line-height: 2.1;}

#news_box {padding-bottom: 14px}
#news_box .record {margin: 1px 0}
#news_box .record span {display: inline-block; width: 120px}

#footer .inline {position: relative; top: 20px}
#footer .inline > li {width: 30%; padding-left: 20px}
#footer .inline ul {list-style: none}
#footer .inline ul li {padding: 2px 0}
#footer .inline ul li a:hover {text-decoration: none}

#two-box {margin: 20px 0}
#two-box .inline>li {width: 49%; text-align: center}

#copyright_notes {font-size: 10px; font-family: 'Ubuntu Light'; color: #555555; margin-top: 50px; padding: 0 20px}
#copyright_notes a {color: #555555;}

a.dropdown {padding-right: 14px; background: url(/storage/siteimg/btn_arrow_dropdown.png) 100% 7px no-repeat}
input.btn_blue,
input.btn_red {background: url(/storage/siteimg/btn_red.png) 0 0 no-repeat; width: 247px; height: 66px; color: white; border: 0; padding-bottom: 10px; font-size: 18px; margin-top: 10px; margin-left: 100px}
input.btn_blue {background: url(/storage/siteimg/btn_blue.png) 0 0 no-repeat; margin-left: 0}

div.block_list {background: url(/storage/siteimg/list_block.png) 0 0 no-repeat; width: 456px; height: 548px; margin: 0 auto; padding: 14px 0; position: relative}
div.block_list h2 {color: #FE0003; margin: 0 0 16px; text-shadow: 1px 1px 1px #777; font-size: 1.3em}
div.block_list .row {text-align: left; font-size: 14px; width: 100%; margin: 0 auto 18px}
div.block_list .row p {margin: 0 0 3px; }
div.block_list .wrapper_btn_up {margin: 0 0 10px}
div.block_list .wrapper_btn_down {margin: 15px auto 0 -19px; position: absolute; bottom: 30px; left: 50%}
div.block_list .scrollable {}

div.cell-logo {float: left; padding: 20px; border: 1px solid grey; margin-right: -1px}
table.company-info {border: 1px solid grey; min-width: 780px}
table.company-info td {vertical-align: top; padding: 5px 15px}

.strS {color: grey; font-size: 12px}

.list .row p {margin: 0; padding: 2px 0; font-size: 14px}
.inner_page {margin: 30px 0; min-height: 200px}
.layer_dark_blue {background: url(/storage/siteimg/bg_city.jpg) 0 100% no-repeat transparent; width: 100%; min-height: 400px; color: white}
.layer_dark_blue h4 {margin: 0; padding: 0 0 20px}
.layer_dark_blue p {margin: 0; padding: 0 0 10px}

.layer_light_blue {background: url(/storage/siteimg/bg_lightblue.jpg) 0 0 no-repeat transparent; width: 100%; min-height: 380px}
.layer_light_blue h4 {color: #FE0003; padding: 0 0 10px; font-size: 1.3em}
.layer_light_blue h4,
.layer_light_blue p {margin: 0}
.layer_light_blue p {padding: 0 0 5px}

.button_field {height: 80px; position: absolute; bottom: 20px; width: 100%; padding: 0 !important; margin: 0 !important; text-align: center; background: url("/storage/siteimg/bg_light.png") repeat-x scroll 0 0;}
.button_field button {margin: 5px auto 0; padding: 0; width: 245px; height: 74px; background: url("/storage/siteimg/btn_red_page.png") no-repeat scroll 0 0; border: 0; cursor: pointer}
.button_field button span {color: white; padding: 10px 0 22px; display: block; font-size: 16px}

.reg_form .button_field {position: relative; bottom: 0; top: 20px}
div.page-note {font-size: 12px}
div.page-note p {margin: 0}

form.create_form .header-form-create { color:#fe0000; font-weight: bold; margin-top: 15px;}
form.create_form .under-text { padding: 0; line-height: 1; letter-spacing: pre; }
form.create_form .table-fixed-col { table-layout: fixed; width: 100%; position:relative}
form.create_form .col1 { width: 30%;}
form.create_form .col2 { width: 70%; }
form.create_form .width450 { width: 450px; }
form.create_form .width100 { width: 100px; }
form.create_form .width60 { width: 60px; }
form.create_form .width140 { width: 140px; }
form.create_form .after-star:after { content: "*"; padding: 5px; color:#fe0000; }
form.create_form input[type=text] { height: 34px; box-shadow: inset 0px 0px 2px #6d6e71;; margin: 0px 15px 0 0; display: inline-block; color: #333; outline: none; border: 1px solid #333; border-radius: 4px; padding: 0 5px; }
form.create_form textarea { font-family: inherit;height: 60px; box-shadow: inset 0px 0px 2px #6d6e71;; margin: 0px 15px 0 0; display: inline-block; color: #333; outline: none; border: 1px solid #333; border-radius: 4px; padding: 7px 5px; }
form.create_form table { border: none; border-collapse: collapse; }
form.create_form table td { padding: 10px 10px 10px 0px; vertical-align: top; position: relative;}
form.create_form table td table td { padding: 0; }
form.create_form p { line-height: 2; margin: 0 }
form.create_form button { font: 0.88em Tahoma, sans-serif; font-weight: bold; letter-spacing: 1px; outline: none; color: #ffffff; }
form.create_form button:hover { cursor: pointer }
form.create_form button.create-vacancy, .blue-button {
	width: 210px;
	height: 44px;
	border-radius: 8px;
	border-top:1px solid #1467ff;
	border-left:1px solid #1467ff;
	border-bottom:2px solid #143b76;
	border-right:2px solid #143b76;
	background: #144da4;
	background: -moz-linear-gradient(top, #144da4 0%, #01a0e2 100%);
	background: -webkit-linear-gradient(top, #144da4 0%, #01a0e2 100%);
	background: -o-linear-gradient(top, #144da4 0%, #01a0e2 100%);
	background: -ms-linear-gradient(top, #144da4 0%, #01a0e2 100%);
	background: linear-gradient(top, #144da4 0%, #01a0e2 100%);
	box-shadow: inset 1px 1px 2px #fff;
	display: inline-block;
}
form.create_form button.create-vacancy:hover, .blue-button:hover{
	background: #144da4;
	background: -moz-linear-gradient(bottom, #144da4 0%, #01a0e2 100%);
	background: -webkit-linear-gradient(bottom, #144da4 0%, #01a0e2 100%);
	background: -o-linear-gradient(bottom, #144da4 0%, #01a0e2 100%);
	background: -ms-linear-gradient(bottom, #144da4 0%, #01a0e2 100%);
	background: linear-gradient(bottom, #144da4 0%, #01a0e2 100%);
}

/** navigator on page create resume  **/
ul.steps-resume { margin: 0 auto; min-width: 995px; }
ul.steps-resume li { display: inline; position: relative; font-size: 14px}
ul.steps-resume li a {
    /**a.steps-resume{*/
    width: 120px;
    height: 38px;
    display: inline-block;
    border-top:1px solid #f3f3f3;
    border-left:1px solid #f3f3f3;
    border-bottom:2px solid #c4c4c4;
    border-right:2px solid #c4c4c4;
    background: #d9d9d9;
    background: -moz-linear-gradient(top, #fefefe 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%, #d9d9d9 100%);
    background: -o-linear-gradient(top, #fefefe 0%,  #d9d9d9 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,  #d9d9d9 100%);
    background: linear-gradient(top, #fff 0%,   #d9d9d9 100% );
    padding: 8px 15px 9px 60px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0px #fff;
    line-height: 1.5;
    float: left;
    border-radius: 2px;
    margin: 0 -2px;
    text-align: center;
    position: relative;
}
ul.steps-resume li a:hover,
ul.steps-resume li a.steps-resume-active {
    border-top:1px solid #1467ff;
    border-left:1px solid #1467ff;
    border-bottom:2px solid #143b76;
    border-right:2px solid #143b76;
    background: #144da4;
    background: -moz-linear-gradient(top, #144da4 0%, #01a0e2 100%);
    background: -webkit-linear-gradient(top, #144da4 0%, #01a0e2 100%);
    background: -o-linear-gradient(top, #144da4 0%, #01a0e2 100%);
    background: -ms-linear-gradient(top, #144da4 0%, #01a0e2 100%);
    background: linear-gradient(top, #144da4 0%, #01a0e2 100%);
    color: #fff;
    text-shadow:none;
}
.big-letter { font-size: 2.48em; position: absolute; left: 20px; top: 5px }
form.create_form #but-file { position: absolute; left:-9999px; top:22px; width: 110px; opacity: 0;filter: alpha(opacity=0) }
form.create_form .active-block { display: block; }
form.create_form .padding-left-15 { padding-left: 15px; }
form.create_form .center-align { text-align: center; }
form.create_form .border-bottom1 { border-bottom: 1px solid #6d6e71; }
form.create_form .margin5-0 { margin: 5px 0; }
#img-photo{float:left;margin-right: 20px;}
/** END navigator on page create resume  **/

#top-banner {text-align: center; vertical-align: middle; width: 100%}
#top-banner img {margin: 0 auto}

.layer_light_blue > div {margin: 0; padding: 40px}

.page {min-height: 200px; padding-bottom: 20px}
.page_about, .page_employers {margin-top: -6px; position: relative}
.page_about .about_title {background-color: #00AEF0; color: #FFF32A; font-size: 19px; font-weight: bold; height: 25px; left: 50px; padding: 12px 25px; position: relative; top: 100px; width: 170px;}
.page_about .about_notes {font-size: 14px; left: 75px; position: relative; top: 120px; width: 400px;}

#about_bottom_note {background-color: #01AEF0; color: #FFFFFF; float: right; font-size: 17pt; font-weight: bold; margin: 5px 0 40px; padding: 10px 20px; position: relative; right: 0; text-align: right; width: 50%; box-shadow: 1px 1px 2px #333333;}
#about_air_notes {background: url("/storage/siteimg/paper-airplane-icon.jpg") 100% 0 no-repeat; min-height: 270px}
#about_air_notes div {width: 44%; padding: 20px; font-size: 13px; position: relative; left: 50px}

.reg_form {display: none; margin: 0 auto; width: 70%}
.reg_form button {background: url("/storage/siteimg/btn_blue_over.png") 0 0 no-repeat; width: 184px; height: 54px; border: 0}
.reg_form button:active {background-position: 0 -54px}
.reg_form button span {color: #FFFFFF; display: block; font-size: 12px; font-weight: bold; margin: 0; padding: 0 0 5px}
.big_list {margin: 10px auto; list-style: none; background-color: #e3e3e3; padding: 20px 0}
.big_list > li {padding-left: 18%; line-height: 2em}
.big_list li a {color: #000000}
.col1 {width: 260px}



.news-list {margin-bottom: 70px}
.news-list .news-cell {margin-bottom: 7px}
.news-box .news-text .date {margin-right: 10px}
.news-box .txt-block {margin: 0}

.under-construction {display: none; text-shadow: 1px 1px 1px #fff}
.under-construction img {float: left; width: 130px; height: auto}

.clearer:after
{display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden}

.font-small {font-size: 0.88em; display: inline-block}
.color-red{color:#fe0000}
.color-gray{color:#6d6e71}


#overlay_box h1 {font-size: 16px}
#overlay_box h4 {text-shadow: 1px 1px 0 #fff; margin: 0 0 4px; font-size: 14px}
#overlay_box #strAuthLogin {margin-bottom: 5px; width: 230px; margin-left: 2px; height: 16px}
#overlay_box #strAuthPassword {width: 100px; height: 16px}

#regions_box {display: none; width: 230px; height: auto; background: white; position: absolute; top: 3px; left: 190px; z-index: 99;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 3px #373737;
}
#regions_box ul {list-style-type: none; padding: 10px 20px}
#regions_box li {text-align: right}
#regions_box p {margin: 10px 0 0 10px; padding: 0;}

#contact-salary{ height: 40px; margin-right: 17px}
#add_vacancy_msg, #add_resume_msg {display: none; width: 300px; min-height: 40px; padding: 10px 16px}
#ajax-loader {position: absolute; top: 50%; margin-top:-100px;  left: 50%; margin-left:-100px;  display: none; z-index: 9999}

div.col1{width: 360px;}
div.row{ padding: 10px 0 10px 0; border-bottom: 1px solid #F7F7F7; }
div.cell.col1 a{padding: 0px 0 5px 0; display: inline-block;}
div.cell.col1 a:hover{color:#016385}
div.cell.col1 p{line-height: 1.5}
.list {padding: 30px 0; }
.salary{padding: 7px 0 0px 0; display:block; color:#707070;}