<div class="layer_dark_blue page_about">
	<div class="about_title">ВСЕ ВАКАНСИИ</div>
	<div class="about_notes">
		<p>
			Мы знаем, что нужно делать, чтобы находить нужных людей и отличную работу.<br />
			Наш опыт стал основой для создания портала ВСЕ ВАКАНСИИ</p>
		<p>
			Мы знаем, что работодателям важно, чтобы им звонили соискатели и боролись за право работать в их компании.<br />
			Мы знаем, что соискателям важна уверенность, что у них есть возможность заработать и состояться.</p>
	</div>
</div>

<div id="about_air_notes">
	<div>
		<p>
			Мы предлагаем Вам красивые и эффективные технологии портала ВСЕ ВАКАНСИИ для поиска работы и сотрудников.</p>
		<p>
			Мы сближаем работодателей и соискателей. Наша главная цель &mdash; точно вовремя &laquo;встретить&raquo; работодателя и соискателя. Не спрашивайте, как мы это делаем, просто пользуйтесь результатом!</p><p>ВСЕ ВАКАНСИИ — российская компания. При этом, мы стремимся работать на лучшем мировом уровне. Мы предлагаем Вам решения для настоящего и будущего Вашей компании, для будущего каждого, отдельно взятого человека.</p>
	</div>
</div>

<div id="about_bottom_note">
	С нашим порталом поиск работы<br>
	будет легким и приятным!
</div>
<div class="clearer"></div>
