<div class="layer_light_blue page_employers">
    <div>
        <h4>Выберайте лучших!</h4>
        <p>Хотите привлечь в свой бизнес наиболее активных людей?</p>
        <p>Используйте ВСЕ ВАКАНСИИ на полную мощь.</p>
        <p>Это удобно, просто, эффективно!</p>
    </div>

    <div class="button_field">
	    <a href="{cfgSiteUrl}add-vacancy"><button id="add_vacancy_btn"><span>Добавить вакансию</span></button></a>
    </div>
</div>

